% rebase('base.html')

<head>
    <h1>INŠTRUKCIJE</h1>
</head>

<body>
<div class='center'>
    <form action='/prijava' method='post'>
        <button type='submit'>prijava</button>
    </form>
</div>

<br>

<div class='center'>
    <form action='/registracija_ucenec' method='post'>
        <button type='submit'>registracija</button>
    </form>
</div>



<br>

<div class='center'>
    <form action='/registracija_instruktor' method='post'>
        <button type='submit'>registracija inštruktor</button>
    </form>
</div>



</body>