% rebase('base.html')

<body>
<div class='center'>
    <form action='/prijava_ucenec' method='post'>
        <button type='submit'>prijava</button>
    </form>
</div>

<br>

<div class='center'>
    <form action='/registracija_ucenec' method='post'>
        <button type='submit'>registracija</button>
    </form>
</div>

<br>


<div class='center'>
    <form action='/prijava_instruktor' method='post'>
        <button type='submit'>prijava inštruktor</button>
    </form>
</div>

<br>

<div class='center'>
    <form action='/registracija_instruktor' method='post'>
        <button type='submit'>registracija inštruktor</button>
    </form>
</div>



</body>