<body> 

    <head>
        <h1>Pozdravljen.</h1>
    </head>
    
    <body>
    <div class='center'>
        <form action='/instruktor/vnesi' method='post'>
            <button type='submit'>Vnesi nov prost termin</button>
        </form>
    </div>
    
    <br>
    
    <div class='center'>
        <form action='/instruktor/rezerviraj' method='post'>
            <button type='submit'>Vnesi nov dogovorjen termin</button>
        </form>
    </div>
    
    <br>
    
    
    <div class='center'>
        <form action='/odjava' method='post'>
            <button type='submit'>Odjava</button>
        </form>
    </div>

    
    

</body>
