% rebase('base.html')
<body>

    <div>Prosimo, izberite predmete, ki jih boste inštruirali. 
    </div>

    <form action="{{url('instruktor_registracija_post')}}" method="post">
        <input type="checkbox" id="slo" name="slo" value="slo">
        <label for="slo">Slovenščina</label><br>
        <input type="checkbox" id="mat" name="mat" value="mat">
        <label for="mat">Matematika</label><br>
        <input type="checkbox" id="ang" name="ang" value="ang">
        <label for="ang">Angleščina</label><br> 
        <input type="checkbox" id="bio" name="bio" value="bio">
        <label for="bio">Biologija</label><br> 
        <input type="checkbox" id="fiz" name="fiz" value="fiz">
        <label for="fiz">Fizika</label><br> 
        <input type="checkbox" id="kem" name="kem" value="kem">
        <label for="kem">Kemija</label>
        <br> 
        <br>
        <input value="Registracija" type="submit" /> <br>
    </form>
    <br>
    <br>

    % if napaka == "izberi vsaj en predmet":
        <div style="border-style: solid; border-color: red;">Izberite vsaj en predmet, ki ga lahko
        inštruirate! </div>
    % end
    
</body>