% rebase('base.html')

<body>

    <div> Vnesite datum in uro termina, ko ste na voljo za inštrukcije.
    </div>

    <form action="/instruktor/vnesi" method="post">
        <input type="date" id="datum" name="datum" min="2022-06-01">
        <select name="cas" id="cas">
            % for i in range(7,22):
                ura = str(i)
                <option value="{{i}}">{{str(i)}}.00 do {{str(i + 1)}}.00</option>  
            % end          
        </select>
        <select name="predmet" id="predmet">
            <option value="slo">Slovenščina</option>
            <option value="mat">Matemaitka</option>
            <option value="ang">Angleščina</option>
            <option value="bio">Biologija</option>
            <option value="kem">Kemija</option>
            <option value="fiz">Fizika</option>
        </select>  
        <select name="lokacija" id="lokacija">
            <option value="Ljubljana">Ljubljana</option>
            <option value="Maribor">Maribor</option>
            <option value="Celje">Celje</option>
            <option value="Kranj">Kranj</option>
            <option value="Koper">Koper</option>
        </select>
        
        % if napaka == "Termin je ze zaseden":
            <div>Ta termin ste že vnesli. Vnesite drug termin.</div>
        % elif napaka == "Izberite datum!":
            <div>Prosimo, izberite datum.</div>
        % else:
            <div></div>
        % end

          <br><br>
          <input type="submit" value="Submit">
    </form>
         

    
</body>