% rebase('base.html')


<head><h1>Vnos prostega termina</h1>
    <div class="topleft">
        <form action="{{url('instruktor')}}" method='get'>
            <button style="font-size:15pt; padding: 1px 1px;" type='submit'>nazaj</button>
        </form>
    </div>
</head>

<body>


    <br>
    <br>
    <br>
    <br>

    <div> Vnesite datum in uro termina, ko ste na voljo za inštrukcije. </div>
    <div style="font-size: 20px;"> Dodajte še predmet, ki ga lahko takrat inštruirate in v okolici katerega kraja boste. 
    </div> 
    

    <br>
    <br>

    <form action="{{url('inst_vnesi_post')}}" method="post">
        <input type="date" id="datum" name="datum" value={{danes}} min={{danes}}>
        <select name="cas" id="cas" style="width: max-content">
            % for i in range(7,22):
                ura = str(i)20
                <option value="{{i}}">od {{str(i)}}.00 do {{str(i + 1)}}.00</option>  
            % end          
        </select>
        <select name="predmet" id="predmet">
            % for predmet in seznam:
                % if predmet == "slo":
                    <option value="slo">Slovenščina</option>
                %end
                % if predmet == "mat":
                    <option value="mat">Matematika</option>
                % end
                % if predmet == "ang":
                    <option value="ang">Angleščina</option>
                % end
                % if predmet == "bio":
                    <option value="bio">Biologija</option>
                % end
                % if predmet == "kem":
                    <option value="kem">Kemija</option>
                % end
                % if predmet == "fiz":
                    <option value="fiz">Fizika</option>
                % end
            % end
        </select>  

        <select name="lokacija" id="lokacija">
            <option value="Ljubljana">Ljubljana</option>
            <option value="Maribor">Maribor</option>
            <option value="Celje">Celje</option>
            <option value="Kranj">Kranj</option>
            <option value="Koper">Koper</option>
        </select>
        
        <br>
        <br>
        % if napaka == "Termin je ze zaseden":
            <div style="border-style: solid; border-color: red;">Ta termin ste že vnesli. Vnesite drug termin.</div>
        % elif napaka == "Izberite datum!":
            <div style="border-style: solid; border-color: red;">Prosimo, izberite datum.</div>
        % else:
            <div></div>
        % end

        <br>
        <br>
        <input type="submit" value="Vnesi">
    </form>
         

    
</body>