

            <!-- To ne dela, pa ne vem, zakaj ne. -->
            <!-- % for predmet in seznam:
                if predmet == "slo":
                    <option value="slo">Slovenščina</option>
                elif predmet == "mat":
                    <option value="mat">Matemaitka</option>
                elif predmet == "ang":
                    <option value="ang">Angleščina</option>
                elif predmet == "bio":
                    <option value="bio">Biologija</option>
                elif predmet == "kem":
                    <option value="kem">Kemija</option>
                elif predmet == "fiz":
                    <option value="fiz">Fizika</option>
                else:
                    <div></div>
            % end -->