% rebase('base.html')

<head>
  <div class="topleft">
    <form action='/uporabnik/rezerviraj' method='get'>
        <button style="font-size:15pt; padding: 1px 1px;" type='submit'>nazaj</button>
    </form>
</div>
  <div class="topright">
      <form action='/odjava' method='get'>
          <button style="font-size:15pt; padding: 1px 1px;" type='submit'>odjava</button>
      </form>
  </div>
</head>

<body>
    <h2>Prosti termini</h2>
    <table style="width:100%">
        <tr>
          <th>Inštruktor</th>
          <th>Predmet</th>
          <th>Lokacija</th>
          <th>Datum</th>
          <th>Ura</th>
        </tr>
        %for (ime, priimek, predmet, lokacija, datum, ura) in podatki:
            <tr>
                <td>{{ime}} {{priimek}}</td>
                <td>{{predmet}}</td>
                <td>{{lokacija}}</td>
                <td>{{datum}}</td>
                <td>{{ura}}</td>
            </tr>
        %end
      </table>

</body>