<html>
<head>
    <style type="text/css">
        body {
        font-family: Verdana
        }
        .neki {
        font-weight: bold;
        color: red
        }
    </style>
</head>
<body>
<form action="/registracija" method="post">
    <span class="neki">Ime:</span> <input name="ime" type="text" />
    <span class="neki">Priimek:</span> <input name="priimek" type="text" />
    <span class="neki">E-mail:</span> <input name="email" type="text" />
    <span class="neki">Telefon:</span> <input name="telefon" type="text" />
    <span class="neki">Uporabniško ime:</span> <input name="username" type="text" />
    <span class="neki">Geslo:</span> <input name="password" type="password" />
    <span class="neki">Ponovno vpišite geslo:</span> <input name="password2" type="password" />
    <input value="Registracija" type="submit" />
</form>
</body>
</html>