% rebase('base.html')

<body>
<form action="/registracija_ucenec" method="post">
    <span class="neki">Ime:</span> <input name="ime" type="text" /> <br>
    <span class="neki">Priimek:</span> <input name="priimek" type="text" /> <br>
    <span class="neki">E-mail:</span> <input name="email" type="text" /> <br>
    <span class="neki">Telefon:</span> <input name="telefon" type="text" /> <br>
    <span class="neki">Uporabniško ime:</span> <input name="username" type="text" /> <br>
    <span class="neki">Geslo:</span> <input name="password" type="password" /> <br>
    <span class="neki">Ponovno vpišite geslo:</span> <input name="password2" type="password" /> <br>
    <input value="Registracija" type="submit" /> <br>
</form>
</body>