% rebase('base.html')
% from datetime import date

<head>
  <div class="topleft">
    <form action='/uporabnik' method='get'>
        <button style="font-size:15pt; padding: 1px 1px;" type='submit'>nazaj</button>
    </form>
  </div>
  <div class="topright">
      <form action='/odjava' method='get'>
          <button style="font-size:15pt; padding: 1px 1px;" type='submit'>odjava</button>
      </form>
  </div>
</head>

<body>
    <h2>Izberi:</h2>
    <form action="/uporabnik/rezerviraj" method="post">
        Od:
        <input type="date" name="od"
        value="2022-07-26"
        min="2022-07-26" max="2023-05-22">
        <br>
        Do:<input type="date" name="do"
        value="2022-07-26"
        min="2022-07-26" max="2023-05-22">
        <br>
        Predmet:<select name="predmet">
          <option value="">vsi predmeti</option>
          <option value="slovenščina">slovenščina</option>
          <option value="matematika">matematika</option>
          <option value="angleščina">angleščina</option>
          <option value="fizika">fizika</option>
          <option value="kemija">kemija</option>
          <option value="biologija">biologija</option>
        </select>
        <br>
        <input value="Najdi" type="submit" />
    </form>
</body>