% rebase('base.html')

<head>
    <div class="topright">
        <form action='/uporabnik/mojprofil' method='get'>
            <button style="font-size:15pt; padding: 1px 1px;" type='submit'>moj profil</button>
        </form>
        <form action='/odjava' method='get'>
            <button style="font-size:15pt; padding: 1px 1px;" type='submit'>odjava</button>
        </form>
    </div>
</head>

<body>
    <h2>Rezervirani termini</h2>
    <table style="width:100%">
        <tr>
          <th>Inštruktor</th>
          <th>Predmet</th>
          <th>Lokacija</th>
          <th>Datum</th>
          <th>Ura</th>
        </tr>
        %for (ime, priimek, predmet, lokacija, datum, ura) in rez_termini:
            <tr>
                <td>{{ime}} {{priimek}}</td>
                <td>{{predmet}}</td>
                <td>{{lokacija}}</td>
                <td>{{datum}}</td>
                <td>{{ura}}</td>
            </tr>
        %end
      </table>
    <br>
    <form action='/uporabnik/rezerviraj' method='get'>
        <button type='submit'>rezerviraj nov termin</button>
    </form>
    
      <h2>Pretekli termini</h2>
        <table style="width:100%">
        <tr>
          <th>Inštruktor</th>
          <th>Predmet</th>
          <th>Lokacija</th>
          <th>Datum</th>
          <th>Ura</th>
        </tr>
        %for (ime, priimek, predmet, lokacija, datum, ura) in pre_termini:
            <tr>
                <td>{{ime}} {{priimek}}</td>
                <td>{{predmet}}</td>
                <td>{{lokacija}}</td>
                <td>{{datum}}</td>
                <td>{{ura}}</td>
            </tr>
        %end
      </table>
      


</body>