% rebase('base.html')

</body>

<body>

    <div>
        Prosimo, izberite, katero šolo in kateri razred obiskujete.
    </div>
    <br>
    <br>
    <form action="/registracija/uporabnik" method="post" >
        <select name="letnik" id="letnik" style="width: max-content">
            % for i in ["1", "2", "3", "4", "5", "6", "7", "8", "9"]:
                <option value="{{i}}. razred osnovne šole"> {{i}}. razred osnovne šole</option>
            % end
            % for i in ["1", "2", "3", "4",]:
                <option value="{{i}}. letnik gimnazije"> {{i}}. letnik gimnazije</option>
            % end
            % for i in ["1", "2", "3", "4",]:
            <option value="{{i}}. letnik srednje strokovne šole"> {{i}}. letnik srednje strokovne šole</option>
            % end

        </select> 
        <br>
        <br>
        <input value="Registracija" type="submit" /> <br>
    </form>

</body>